# Python
**__pycache__/
**pytest_cache/
**mypy_cache/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.muniverse/
.claude/

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.code-workspace

# Jupyter Notebook
.ipynb_checkpoints

# macOS
**/.DS_Store

# Logs
*.log
*.sh.e*
*.sh.o*

# Data folder
data/

# Singularity image files
*.sif

# Data files 
*.hdf5
*.edf
*.npy
*.pkl


# Results and configs folder
**/res/
**/configs/
**/outputs/

# Test coverage <temporarily?>
.coverage